<div class="select-role-page">
  <div class="select-role-page__header">
    <app-auth-title></app-auth-title>
  </div>
  <div class="select-role-page__form select-role-form">
    <h2 class="select-role-form__title">Я:</h2>
    <div class="select-role-form__buttons-inner">
      <button class="select-role-form__button" routerLink="login">
        Администратор
      </button>
      <button class="select-role-form__button" routerLink="login">
        Преподаватель
      </button>
      <button class="select-role-form__button" routerLink="login">
        Студент
      </button>
    </div>
  </div>
</div>
