.auth-title {
  color: #50989C;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;

  &__subtitle {
    color: #50989C;
    font-size: 32px;
    margin-bottom: -20px;
    padding-left: 20px;
  }
}

