<label class="checkbox">
  <input type="checkbox" class="checkbox__input" />
  <div class="checkbox__state">
    <div class="checkbox__control">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
      >
        <path
          d="M1.5 14.5L9.0641 22.509C9.5279 23.0001 10.3351 22.8996 10.6643 22.3098L22 2"
          stroke="#F1FEFF"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="checkbox__title">{{ checkboxTitle }}</div>
  </div>
</label>
