<div class="profile">
  <div class="profile__avatar">
    <img
      class="profile__avatar-img"
      src="../../../../assets/images/google-logo.svg"
    />
  </div>
  <div class="profile__name">Иванова Эрика Анатольевна</div>
  <ul class="profile__menu">
    <li class="profile__menu-item">Расписание</li>
    <li class="profile__menu-item">Чаты</li>
    <li class="profile__menu-item">Зачетная книжка</li>
    <li class="profile__menu-item">Учебный план</li>
    <li class="profile__menu-item">Портфолио</li>
  </ul>
  <div class="profile__footer">
    <button class="profile__button">
      <img src="../../../../assets/images/settings.svg" />
    </button>
    <button class="profile__button"></button>
    <button class="profile__button" routerLink="/">
      <img src="../../.../../../../assets/images/exit.svg" />
    </button>
  </div>
</div>
