<div class="auth-login-form">
  <h2 class="auth-login-form__title">Вход в аккаунт</h2>
  <form class="auth-login-form__form">
    <div class="auth-login-form__inputs-inner">
      <input class="auth-login-form__input" />
      <input class="auth-login-form__input" />
    </div>
    <div class="auth-login-form__checkbox">
      <app-checkbox checkboxTitle="Запомнить меня"></app-checkbox>
    </div>
    <button class="auth-login-form__submit">Войти</button>
    <button class="auth-login-form__google-button">
      <img src="../../../../../assets/images/google-logo.svg" />
      Войти с Google
    </button>
  </form>
</div>
